@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mountain1{
    bottom: 2px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.mountain2{
    width: 1500px;
    bottom: 3px;
    right: 0;
    z-index: 18;
}

.mountain3{
    width: 1500px;
    bottom: 2px;
    right: 0;
    z-index: 18;
}

.mountain4{
    width: 1500px;
    bottom: 2px;
    right: 0;
    z-index: 18;
}

.mountain5{
    width: 1500px;
    bottom: 2px;
    right: 0;
    z-index: 18;
}

.mountain6{
    width: 1500px;
    bottom: 2px;
    right: 0;
    z-index: 18;
}

.sky{
    width: 1500px;
    bottom: 2px;
    right: 0;
    z-index: 18;
}

.big-title {
    top: calc(50% - 2rem);
}

.site1{
    background-image: url('assets/img/panduk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.site2{
    background-image: url('assets/img/loko.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.site3{
    background-image: url('assets/img/sarambu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.site4{
    background-image: url('assets/img/camping.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    transform: translateY(-50px);
}

.site-container{
    transform: translateY(50px);
}

.opacity {
    opacity: 0;
}

.explore{
    transform: translateY(50px);
    opacity: 0;
}